<!-- Navbar -->
<header>
  <div class="header">
    <a href="#default" class="logo">Finance Box</a>
    <div class="header-right">
      <a [routerLink]="['/home']" routerLinkActive="active">Home</a>
      <a [routerLink]="['/resumoMain']" routerLinkActive="active">Resumo</a>
      <a [routerLink]="['/transacaoMain']" routerLinkActive="active">Transações</a>
      <a [routerLink]="['/contaMain']" routerLinkActive="active">Contas</a>
      <a [routerLink]="['/categoriaMain']" routerLinkActive="active">Categorias</a>

    </div>
  </div>
</header>